dl {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content max-content min-content;
    gap: 1rem;
}
code {
    display: block;
    background-color: rgba(21, 31, 65, 0.727);
    padding: .5rem;
    color: rgb(205, 232, 240);
    border-radius: .5rem;
}
dt,
dd {
    margin: 0;
    padding: 0;
    /* border-bottom: 1px solid blue; */
}